DEBUG=True
SECRET_KEY=xy^xp0z#7$-&wc68yyp&2d!5pje%^xt#egd4^wg(1oxn(8q0yt
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=moviedb
POSTGRES_USER=movie_user
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_ENV=dev

STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media