{% extends "movies/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
{% endblock %}
{% load tz %}




{% block title %}{{ movie.title }} — Кінотеатр{% endblock %}

{% block content %}




<div class="container container-detail">

    <!-- Лівий блок -->
    <div class="left-block">
        {% if movie.poster_url %}
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="poster">
        {% else %}
            <div class="poster" style="background:#333; display:flex; align-items:center; justify-content:center; height:330px;">No Image</div>
        {% endif %}
        <div class="movie-info">
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.description }}</p>
            <p><strong>Тривалість:</strong> {{ movie.duration_minutes }} хв</p>
            <p><strong>Жанри:</strong>
                {% for g in movie.genres.all %}
                    {{ g.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    <!-- Правий блок (меню) -->
    <div class="right-block">
        <form method="get" class="select-date">
            <label for="date" class="form-label">Оберіть дату:</label>
            <select id="date" name="date" class="form-select" onchange="this.form.submit()">
                {% for d in days %}
                    <option value="{{ d|date:'Y-m-d' }}" {% if d.date == selected_date %}selected{% endif %}>
                        {{ d|date:"D, j M" }}{% if d.date == now.date %} (Сьогодні){% endif %}
                    </option>
                {% endfor %}
            </select>
        </form>

        <h5>Доступні сеанси:</h5>
        {% if showtimes %}
            {% for s in showtimes %}
    <a href="{% url 'movies:booking_detail' s.id %}" class="showtime-pill">
        {{ s.start_time|date:"H:i" }} — {{ s.hall.name }}
    </a>
{% endfor %}
        {% else %}
            <p style="color:#ccc;">На обрану дату сеансів немає.</p>
        {% endif %}
    </div>

</div>
{% endblock %}
